
.create-container {
    margin:15px;
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-type {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}

.text-in {
    width:400px;
}

.outter-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.questions-container {
    width: 700px;
    height: 500px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
}
#update-questions-modal {
    width: 40vw;
    height: auto;
    background-color: white;
    position: absolute;
    left: 28%;
    top: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
#modal-modal-title {
    margin-left: 70px;
}

.update-question-form {
    margin-left: 70px;
}
.create-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}