.container {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Ubuntu', sans-serif;
    
}


.question-container {
    border-radius: 2rem;
    background-color: #1b263b; 
}

/* .actionBtnContainer {
    width: 100%;
    display: flex;
    justify-content:center;
} */

.question-container {
    width: 45vw;
}
.play-container {
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-up {
    width: 40vw;
    height: 35vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-down {
    width: 40vw;
    height: 45vh;
    border: 2px solid green;
}
#previous-action-btn {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    color: black;
    margin-left: 70px;
    margin-bottom: 30px;
}
#next-action-btn {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: white;
    color: black;
    margin-bottom: 30px;
}