#question-heading {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
.quiz-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40vw;
    height: 60vh;
    border-radius: 2rem;
    background-color: #1b263b;
}
#optionBtn {
    color: white;
    background-color: black;
    margin:10px;
}

.optionsContainer {
    margin-top: 50px;
}
#lbl {
    color: white;
}
.clbl {
    color: white;
}
